services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bank
      MYSQL_USER: bank_app
      MYSQL_PASSWORD: "1234"
    volumes:
      - db_data:/var/lib/mysql
      - ./bank_dump.sql:/docker-entrypoint-initdb.d/001_dump.sql:ro

    networks:
      - bank-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: bank-backend
    restart: always
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      PORT: 5000
    depends_on:
      - db
    networks:
      - bank-network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL}
    container_name: bank-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - bank-network

networks:
  bank-network:
    driver: bridge

volumes:
  mysql_data:
